.lantern-box
  .lantern
    .lantern-line
    .lantern-main
      .lantern-rect
        .lantern-text='欢'
    .lantern-tassel.lantern-tassel-top
      .lantern-tassel-bottom
      .lantern-tassel-middle
.lantern-box.lantern-box1
  .lantern
    .lantern-line
    .lantern-main
      .lantern-rect
        .lantern-text='度'
    .lantern-tassel.lantern-tassel-top
      .lantern-tassel-bottom
      .lantern-tassel-middle
.lantern-box.lantern-box2
  .lantern
    .lantern-line
    .lantern-main
      .lantern-rect
        .lantern-text='春'
    .lantern-tassel.lantern-tassel-top
      .lantern-tassel-bottom
      .lantern-tassel-middle
.lantern-box.lantern-box3
  .lantern
    .lantern-line
    .lantern-main
      .lantern-rect
        .lantern-text='节'
    .lantern-tassel.lantern-tassel-top
      .lantern-tassel-bottom
      .lantern-tassel-middle
